@model LoginViewModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/KhachHang.cshtml";
}
<div class="breadcrumbs">
    <div class="locations" style="margin-left: 15%;">
        <a href="@Url.Action("Index", "Home")"><img src="~/Content/Image/home.svg" /></a>
    </div>
    <div class="locations">
        <img src="~/Content/Image/Next.svg" />
    </div>
    <div class="locations">
        <span style="color: #C58A66">Đăng nhập</span>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-error">
        @TempData["ErrorMessage"]
    </div>
}

@using (Html.BeginForm("LogIn", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-container">
        <div style="text-align:center; padding-bottom: 24px;">
            <span>Đăng Nhập</span>
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Số Điện Thoại" })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn-primary">Đăng nhập</button>
        <div class="form-group" style="margin-top:20px;margin-bottom:0px">
            <label style="font-size:14px">
                Chưa có tài khoản? <a href="@Url.Action("Register", "Home")">Đăng ký</a>
            </label>
        </div>
    </div>
}