@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/KhachHang.cshtml";
}
<div class="breadcrumbs">
    <div class="locations" style="margin-left: 15%;">
        <a href="@Url.Action("Index", "Home")"><img src="~/Content/Image/home.svg" /></a>
    </div>
    <div class="locations">
        <img src="~/Content/Image/Next.svg" />
    </div>
    <div class="locations">
        <span style="color: #C58A66">Đăng ký</span>
    </div>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-error">
        @TempData["ErrorMessage"]
    </div>
}
@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-container">
        <div style="text-align:center; padding-bottom: 24px;">
            <span>Đăng Ký</span>
        </div>
        <div class="form-group">
            <input type="text" name="CustomerName" placeholder="Họ và Tên" class="form-control" />
        </div>
        <div class="form-group">
            <input type="text" name="PhoneNumber" placeholder="Số Điện Thoại" class="form-control" />
        </div>
        <div class="form-group">
            <input type="password" name="Password" placeholder="Mật khẩu" class="form-control" />
        </div>
        <div class="form-group">
            <input type="password" name="ConfirmPassword" placeholder="Nhập lại mật khẩu" id="ConfirmPassword" class="form-control" />
        </div>
        <div class="form-group" style="justify-content:flex-start; margin-bottom: 0">
            <label style="font-size:14px">
                <input type="checkbox" name="AgreeToTerms" required />
                Tôi đồng ý với các <a href="/terms-and-conditions" target="_blank">Điều khoản và Dịch vụ</a>
            </label>
        </div>
        <button type="submit" class="btn-primary">Tạo Tài Khoản</button>
        <div class="form-group" style="margin-top:20px;margin-bottom:0px">
            <label style="font-size:14px">
                Đã có tài khoản? <a href="@Url.Action("LogIn", "Home")">Đăng nhập</a>
            </label>
        </div>
    </div>
}