@using DoAn_LapTrinhWeb.Models;
@model List<ChiTietGioHang>
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/KhachHang.cshtml";
    <link rel="stylesheet" href="~/Content/ViewCart.css" />

    GioHangModel cart = (Session["gh"] == null) ? null : new GioHangModel((GioHang)Session["gh"]);
}

<div class="container">
    <div class="row">
        <h1 class="header">Giỏ Hàng</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="shopping-cart">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>SẢN PHẨM</td>
                            <td>GIÁ</td>
                            <td>SỐ LƯỢNG</td>
                            <td>TỔNG</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/Content/HinhAnh/@item.SanPham.HinhAnh" style="width:50px;height:50px" /> @item.SanPham.TenSanPham
                                </td>
                                <td>
                                    @item.SanPham.Gia.ToString("N0")
                                </td>
                                <td>
                                    <div class="quantity">
                                        <a href="#"><img src="~/Content/Image/minus.svg" /></a>
                                        <input type="number" class="input-box" value="@item.SoLuong">
                                        <a href="#"><img src="~/Content/Image/plus.svg" /></a>
                                    </div>
                                </td>
                                <td>
                                    @decimal.Parse(item.ThanhTien.ToString()).ToString("N0") <span><img src="~/Content/Image/cancel_product.svg" /></span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="4">
                                <a href="#" class="btn btn-primary" style="color: #4D4D4D;background-color:gray;text-decoration:none">Mua Thêm</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="discount-code">
                <input type="text" id="discountCode" placeholder="Nhập mã giảm giá">
                <button class="btn btn-primary" style="color: white; background-color:#333333; width:25%">Áp Mã</button>
            </div>
        </div>
        <div class="col-4">
            <div class="total-payment">
                <strong>Tổng Thanh Toán</strong>
                <div class="total-products">
                    Tổng sản phẩm:
                    <span>
                        @if (cart != null)
                        {
                            <span>@cart.getTongSoLuong()</span>
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </span>
                </div>
                <hr style="border: 1px solid gray" />
                <div class="shipping-fee">Phí vận chuyển: <span>0 VND</span></div>
                <hr style="border: 1px solid gray" />
                <div class="total-amount">
                    Tổng cộng:
                    <span>
                        @if (cart != null)
                        {
                            <span>@decimal.Parse(cart.getTongTien().ToString()).ToString("N0") VND</span>
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </span>
                </div>
                    <a href="#" class="checkout">Thanh Toán</a>
            </div>
        </div>

    </div>
</div>
