@using DoAn_LapTrinhWeb.Models;
@model List<ChiTietGioHang>
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/KhachHang.cshtml";
    <link rel="stylesheet" href="~/Content/ViewCart.css" />

    GioHangModel cart = (Session["gh"] == null) ? null : new GioHangModel((GioHang)Session["gh"]);
}
<div class="breadcrumbs">
    <div class="locations" style="margin-left: 15%;">
        <a href="@Url.Action("Index", "Home")"><img src="~/Content/Image/home.svg" /></a>
    </div>
    <div class="locations">
        <img src="~/Content/Image/Next.svg" />
    </div>
    <div class="locations">
        <span style="color: #C58A66">Giỏ hàng</span>
    </div>
</div>
<div class="header">
    Giỏ Hàng
</div>
<div class="container">
    <div class="col-8">
        <div class="shopping-cart">
            <table class="table">
                <thead>
                    <tr>
                        <th>SẢN PHẨM</th>
                        <th>GIÁ</th>
                        <th>SỐ LƯỢNG</th>
                        <th colspan="2">TỔNG</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="product-info">
                                    <img src="~/Content/HinhAnh/@item.SanPham.HinhAnh" />
                                    <span>
                                        @item.SanPham.TenSanPham <br /> 
                                        <span style="color: #808080">Size @item.Size.TenSize, @item.Topping.TenTopping </span>
                                    </span>
                                </div>
                            </td>
                            <td style="text-align:left">
                                @string.Format("{0:N0}", item.SanPham.Gia)
                            </td>
                            <td>
                                <div class="quantity">
                                    <a href="#" id="minus"><img src="~/Content/Image/minus.svg" /></a>
                                    <input type="number" class="input-box" value="@item.SoLuong" id="quantity" />
                                    <a href="#" id="plus"><img src="~/Content/Image/plus.svg" /></a>
                                </div>
                            </td>
                            <td>
                                @string.Format("{0:N0}", item.ThanhTien)
                            </td>
                            <td>
                                <img src="~/Content/Image/cancel_product.svg" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="5" style="border: 1px solid #ddd; padding: 16px; text-align: left;">
                            <a href="@Url.Action("Products", "Home")"><img src="~/Content/Image/Button_MuaThem.svg" /></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="discount-code">
            <span>Mã Giảm Giá</span>
            <div class="input-container">
                <input type="text" id="discountCode" placeholder="Nhập mã giảm giá">
                <button class="apply-code">Áp Mã</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="total-payment">
            <strong>Tổng Thanh Toán</strong>
            <div class="total-products">
                Tổng sản phẩm:
                <span>
                    @if (cart != null)
                    {
                        <span>@cart.getTongSoLuong()</span>
                    }
                    else
                    {
                        <span>0</span>
                    }
                </span>
            </div>
            <div class="shipping-fee">Phí vận chuyển: <span> - VND</span></div>
            <div class="total-amount">
                Tổng cộng:
                <span>
                    @if (cart != null)
                    {
                        <span>@string.Format("{0:N0} VND", cart.getTongTien())</span>
                    }
                    else
                    {
                        <span>0</span>
                    }
                </span>
            </div>
            <a href="@Url.Action("CheckOut","Home")" class="checkout">Thanh Toán</a>
        </div>
    </div>
</div>
