@using DoAn_LapTrinhWeb.Models;
@using PagedList.Mvc
@model PagedList.IPagedList<LoaiSanPham>


@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutPageNhanVien.cshtml";
}

<div class="breadcrumbs">
    <div class="locations" style="margin-left: 15%;">
        <a href="@Url.Action("Index", "NhanVien")"><img src="~/Content/Image/home.svg" /></a>
    </div>
    <div class="locations">
        <img src="~/Content/Image/Next.svg" />
    </div>
    <div class="locations">
        <span style="color: #C58A66">Danh Sách Loại Sản Phẩm</span>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<div class="container justify-content-center">
    <!-- Form tìm kiếm -->
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-inline">
                <form method="post" action="/NhanVien/Categories">
                    <input type="text" name="maLoai" value="@ViewBag.maLoai" placeholder="Mã loại sản phẩm" class="form-control mr-3" />
                    <input type="text" name="tenLoai" value="@ViewBag.tenLoai" placeholder="Tên loại sản phẩm" class="form-control mr-3" />
                    <input type="submit" value="Lọc" class="btn bg-success mr-3" />
                </form>
            </div>
        </div>
    </div>

    <!-- Form thao tác -->
    <form method="post" action="/NhanVien/HandleAction_Category">
        <!-- Dòng thao tác -->
        <div class="row mt-3">
            <div class="col-12 d-flex">
                <!-- Dropdown "Thêm mới" -->
                <div class="dropdown mr-3">
                    <button class="btn bg-success dropdown-toggle text-white" type="button" id="dropdownAdd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Thêm mới
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownAdd">
                        <button type="submit" name="action" value="AddByView" class="dropdown-item" style="cursor:pointer">Thêm</button>
                    </div>
                </div>

                <!-- Dropdown "Thao tác" -->
                <div class="dropdown">
                    <button class="btn bg-primary dropdown-toggle text-white" type="button" id="dropdownAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Thao tác
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownAction">
                        <button type="submit" name="action" value="Edit" class="dropdown-item">Sửa</button>
                        <button type="submit" name="action" value="Delete" class="dropdown-item">Xóa</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Danh sách sản phẩm -->
        <div class="row mt-3">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead style="background-color: gray; color: white;">
                        <tr>
                            <td>
                                <input type="checkbox" id="checkAll" />
                            </td>
                            <td>Mã loại</td>
                            <td>Tên loại sản phẩm</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (LoaiSanPham lsp in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedCategories" value="@lsp.MaLoaiSP" />
                                </td>
                                <td>
                                   @lsp.MaLoaiSP
                                </td>
                                <td>
                                    @lsp.TenLoaiSP
                                </td>
                             
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination-container">
                    @Html.PagedListPager(
                        Model,
                        page => Url.Action("Categories", new { page }),
                        new PagedListRenderOptions
                        {
                            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                            DisplayLinkToLastPage = PagedListDisplayMode.Always,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                            DisplayLinkToNextPage = PagedListDisplayMode.Always,
                            DisplayPageCountAndCurrentLocation = false,
                            MaximumPageNumbersToDisplay = 5,
                            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                            UlElementClasses = new[] { "pagination", "justify-content-center" },
                            LiElementClasses = new[] { "page-item" }
                        }
                    )
                </div>

            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById("checkAll").addEventListener("click", function () {
        const checkboxes = document.querySelectorAll("input[name='selectedCategories']");
        for (const checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });
</script>

