@using DoAn_LapTrinhWeb.Models;

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_LayoutPageNhanVien.cshtml";
}

@model List<SanPham>
<div class="container">
    <h3>Sửa sản phẩm</h3>
    <form method="post" action="/NhanVien/EditProduct" enctype="multipart/form-data">
        @foreach (var spGroup in Model.GroupBy(sp => sp.MaSanPham))
        {
            var sp = spGroup.First();
            <div class="mb-5 border-bottom pb-4">
                <h4 class="mb-3">@sp.TenSanPham</h4>
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Thông tin sản phẩm</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Loại sản phẩm -->
                                <tr>
                                    <td>Loại sản phẩm:</td>
                                    <td>
                                        @Html.DropDownList(
                                            "updatedProducts[" + sp.MaSanPham + "].LoaiSanPham.MaLoaiSP",
                                            new SelectList(ViewBag.DanhMucLoai, "MaLoaiSP", "TenLoaiSP", sp.MaLoaiSP),
                                            "Chọn loại sản phẩm",
                                            new { @class = "form-control" }
                                        )
                                    </td>
                                </tr>

                                <!-- Tên sản phẩm -->
                                <tr>
                                    <td>Tên sản phẩm:</td>
                                    <td>
                                        <input type="text" name="updatedProducts[@sp.MaSanPham].TenSanPham" value="@sp.TenSanPham" class="form-control" />
                                    </td>
                                </tr>

                                <!-- Mô tả -->
                                <tr>
                                    <td>Mô tả:</td>
                                    <td>
                                        <textarea name="updatedProducts[@sp.MaSanPham].MoTa" class="form-control">@sp.MoTa</textarea>
                                    </td>
                                </tr>

                                <!-- Ảnh hiện tại -->
                                <tr>
                                    <td>Ảnh hiện tại:</td>
                                    <td>
                                        <img src="~/Content/HinhAnh/@sp.HinhAnh" style="width:150px;height:150px;" />
                                    </td>
                                </tr>

                                <!-- Thay đổi ảnh -->
                                <tr>
                                    <td>Thay đổi ảnh:</td>
                                    <td>
                                        <input type="file" name="updatedProducts[@sp.MaSanPham].HinhAnh" class="form-control" />
                                    </td>
                                </tr>

                                <!-- Số lượng -->
                                <tr>
                                    <td>Số lượng:</td>
                                    <td>
                                        <input type="number" name="updatedProducts[@sp.MaSanPham].SoLuong" value="@sp.SoLuong" class="form-control" />
                                    </td>
                                </tr>

                                <!-- Trạng thái -->
                                <tr>
                                    <td>Trạng thái:</td>
                                    <td>
                                        <select name="updatedProducts[@sp.MaSanPham].TrangThai" class="form-control">
                                            <option value="true" @((bool)sp.TrangThai ? "selected" : "")>Đang bán</option>
                                            <option value="false" @((bool)!sp.TrangThai ? "selected" : "")>Ngừng bán</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Danh sách các size -->
                    <div class="col-md-12">
                        <h5 class="mb-3">Kích cỡ:</h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Size</th>
                                    <th>Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var spSize in spGroup)
                                {
                                    <tr>
                                        <td>@spSize.Size.TenSize</td>
                                        <td>
                                            <input type="number" name="updatedSizes[@sp.MaSanPham][@spSize.MaSize]" value="@double.Parse(spSize.Gia.ToString())" class="form-control" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        <button type="submit" class="btn btn-success mr-3">Lưu thay đổi</button>
        <a href="/NhanVien/Products" class="btn btn-primary text-white" style="width:100px">Quay về trang chủ</a>
    </form>

</div>