@using DoAn_LapTrinhWeb.Models;

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_LayoutPageNhanVien.cshtml";
}

@model List<SanPham>

<h3>Sửa sản phẩm</h3>
<form method="post" action="/NhanVien/EditProduct">
    @foreach (var sp in Model)
    {
        <div class="form-group">
            <label>Loại sản phẩm:</label>
            @Html.DropDownList(
            "updatedProducts[" + @sp.MaSanPham + "].LoaiSanPham.MaLoaiSP",
            new SelectList(ViewBag.DanhMucLoai, "MaLoaiSP", "TenLoaiSP", sp.LoaiSanPham.MaLoaiSP),
            "Chọn loại sản phẩm",
            new { @class = "form-control"}
            )

        </div>

        <div class="form-group">
            <label>Tên sản phẩm:</label>
            <input type="text" name="updatedProducts[@sp.MaSanPham].TenSanPham" value="@sp.TenSanPham" class="form-control" />
        </div>

        <div class="form-group">
            <label>Giá bán:</label>
            <input type="text" name="updatedProducts[@sp.MaSanPham].Gia" value="@sp.Gia" class="form-control" />
        </div>

        <div class="form-group">
            <label>Tồn kho:</label>
            <input type="number" name="updatedProducts[@sp.MaSanPham].SoLuong" value="@sp.SoLuong" class="form-control" />
        </div>

        <div class="form-group">
            <label>Ảnh hiện tại:</label>
            <img src="~/Content/HinhAnh/@sp.HinhAnh" style="width:100px;height:100px;" />
        </div>
        <div class="form-group">
            <label>Thay đổi ảnh:</label>
            <input type="file" name="updatedProducts[@sp.MaSanPham].HinhAnh" class="form-control" />
        </div>


        <div class="form-group">
            <label>Trạng thái:</label>
            <div>
                <label class="mr-3">
                    <input type="radio" name="updatedProducts[@sp.MaSanPham].TrangThai" value="true" @if ((bool)sp.TrangThai) { <text> checked</text> } />
                    <span class="text-success">Đang bán</span>
                </label>
                <label>
                    <input type="radio" name="updatedProducts[@sp.MaSanPham].TrangThai" value="false" @if (!(bool)sp.TrangThai) { <text> checked</text> } />
                    <span class="text-danger">Ngừng bán</span>
                </label>
            </div>
        </div>

    }

    <button type="submit" class="btn btn-success">Lưu thay đổi</button>
</form>
