@using DoAn_LapTrinhWeb.Models;
@{
    GioHangModel cart;
    if(Session["gh"] != null)
    {
        GioHang _cart = Session["gh"] as GioHang;
        cart = new GioHangModel(_cart);
    }
    else
    {
        cart = null;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="~/Content/404.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/ProductItem.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="info-bar">
        <div class="left-menu" style="display: flex; align-items: center;">
            <img src="~/Content/Image/Map Pin.png" class="info-icon" />
            <span>Trụ sở: Lô 11-1B Lê Trọng Tấn, KCN Tân Bình, P. Tây Thạnh, Q. Tân Phú, TP.HCM</span>
        </div>
        @if (Session["acc"] == null)
        {
            @* ---------Chưa Đăng Nhập--------- *@
            <div class="login-register right-menu">
                <a href="@Url.Action("LogIn", "Home")">Đăng nhập </a> / <a href="@Url.Action("Register", "Home")">Đăng ký</a>
            </div>
        }
        else
        {
            NguoiDung user = Session["acc"] as NguoiDung;
            @* ---------Đã Đăng Nhập--------- *@
            <div class="login-register right-menu" style="position:relative">
                <a href="#" class="user-link" style="display: flex; align-items: center">
                    @user.HoTen
                    <div class="user-image"></div>
                </a>
                <!-- Dropdown menu -->
                <div class="dropdown-menu" id="dropdownMenu">
                    <a href="/account/details">Thông tin tài khoản</a>
                    <a href="/Home/LogOut">Đăng xuất</a>
                </div>
            </div>
        }
    </div>

    <div class="header_search">
        <div style="margin-left:15%">
            <img src="~/Content/Image/Logo.png" class="logo" />
        </div>
        <div class="searchbar">
            <img src="~/Content/Image/Search.png" style="margin: 12px 8px 12px 16px" />
            <input type="text" name="searchbox" placeholder="Nhập từ khóa bạn muốn tìm..." class="input" />
            <button class="btn search-button" type="submit">Tìm kiếm</button>
        </div>
        <div class="cart">
            <div style="display: flex; align-items: center">
                <div style="height: 34px; width: 34px; align-self: flex-end; position: relative;">
                    <a href="/Home/ViewCart"><img src="~/Content/Image/Rectangle.svg" /></a>
                    <div class="number">
                        <!-- Đây là số hàng trong giỏ hàng -->
                        @if (cart != null)
                        {
                            <span style="color: white; font-size: 10px;">@cart.getSoLuongMatHang()</span>
                        }
                        else
                        {
                            <span style="color: white; font-size: 10px;">0</span>
                        }
                    </div>
                </div>
                <div style=" margin-left: 12px;height:34px">
                    <p style="font-size: 12px"> Giỏ hàng</p>
                    <!-- Đây là tổng số tiền trong giỏ hàng -->
                    @if (cart != null)
                    {
                        <p style="font-size: 16px;font-weight:500"> @decimal.Parse(cart.getTongTien().ToString()).ToString("N0") VND</p>
                    }
                    else
                    {
                        <p style="font-size: 16px;font-weight:500"> 0 VND</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="left-menu">
            <a href="@Url.Action("Index", "Home")">Trang chủ</a>
            <a href="@Url.Action("Products", "Home")">Sản phẩm</a>
            <a href="@Url.Action("Store", "Home")">Cửa hàng</a>
            <a href="@Url.Action("Contact", "Home")">Liên hệ</a>
        </div>
        <div class="contact-info">
            <img src="~/Content/Image/phonecall.svg" />
            <span>(028) 3979-7350</span>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
